body {
  margin: 0;
  font-family: Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Sans-serif;
}

:root{
  --text-type: Sans-serif;
  --text-color-back:white;
}